/* Common Elements*/

body{
    font-size: 65.5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:black;
    padding: 0;
    margin: 0;
    -webkit-background-size:100% 100%;
    -moz-background-size: 100% 100%;
    background-size:100% 100%;
    -o-background-size: 100% 100%;
    text-decoration-color: black;
}

h1{
    color: pink;
    font-size: 2.0em;
    margin:0.5em 0 0.5em 0;
    padding: 0;
}
h2{
    color: #FDA4BA;
    font-size: 1.7em;
    padding:0px;
    margin: 0.5em 0 0.35em 0;
}

p{
    font-size: 1.2em;
    line-height: 1.4em;
    color: #FA86C4;
    padding: 0px;
    margin: 0px 0.5em 0.75em 0px;
}

ol{
    font-size: 1.2em;
    margin: 0 0 0 1.0em;
    padding: 0 0 0 1.0em;
}
ol li {
    margin:0;
    padding: 0 0 0.2em;
}
a, a:visited{
    color: white;
}
a:hover {
    color: #FA86C4
}
hr{
    padding:0;
    margin: 1.5em 1,5em 0.75em 
}
.contentWrapper {
    /* margin: 0 auto; */
    max-width: 1170px;
    padding: 0 3.0em;
}
.left{
    float: left;
}
.right{
    float: right;
}
div.clear{
    clear:both;
    font-size: 1%;
}
/*Header*/
 
header{
    padding: 2.5em 0 0.5em;
    margin: 0 0 2.0em;
    background: #f79ac0 url(./KaySlaySkin/pH.jpeg) center 0px;

}

header h1{
    font-family:"Times New Roman", Times, serif;
    color: #FDA4BA
    fontsize 7.5em;
    letter-spacing: .25em;
    margin:0;
    /*text-shadow: 1px 2px 0#bd8437; offset-x| offset -y| blur-radius|*/
}
header h2{
    font-weight: 300;
    font-size:3.8em;
    color: white;
    margin: -0.4em 0 0 1.0em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

/*Nav Bars*/

nav{
    color:lightpink;
    font-size:1.7em;
    letter-spacing: 0.04em;
    padding: 1.0em 1.0em 0.5em;
    margin: 1.0em 0 ;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin: 0;

}
nav li a, nav li a:visited {
    text-decoration: none;
    color: rgb(148, 144, 144);
    padding: 0.3em 0.6em;
}
nav li a:hover{
    color:lightpink;
    background-color: rgb(105, 105, 96)
}
nav#utilityMenu{
    float: right;
    margin: -1.5em 0 0 0;
    padding: 0.35em;
    background-color:whitesmoke;
    height:1.3em;
}
nav#utilityMenu li{
    padding:0 0.25em 0 0.2em;
    vertical-align: middle;
}
nav#utilityMenu ul li.acctNav a, nav#utilityMenu ul li.acctNav a:visited{

    color: #f79ac0;
    text-decoration: none;
    display: inline-block;
    height: 1.3em;
    padding: 0.5em;
    margin: -0.4em 0 0 0;
    font-size:0.8em
}

nav#utilityMenu ul li.acctNav a.active{
    background-color:darkgray

}
nav#utilityMenu ul li.acctNav a:hover{
    background-color:darkgray;
    color: pink;
}
nav#utilityMenu li a, nav#utilityMenu li a:visited {padding:0;}
nav#utilityMenu li a:hover {background-color:transparent;}
nav#utilityMenu ul li input#search{
    vertical-align: middle;
    margin:0 0 0 1.0em;
}
nav#utilityMenu ul li.acctNav::before, nav#utilityMenu ul li input#search::before {
    content: "|";
    color: white;
}

/*Sidebar Section*/
section#sidebar{
    width: 238px;
    float: right;
    position:relative;
    display:block;
    background-color: rgb(51, 51, 51);
    margin:1.5em 0 3.0em 1.5em;
    padding: 1.7em 0.5em 2.0em 1.7em;
    border-left: white dotted 5px;
}

/*Main Section*/
section #main {
    /*background-color: black;*/
    background-color:rgb(148, 144, 144);
    margin: 0 0 1.0em;
    padding: 2.5em 0 2.0em 1.5em;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 1px 1px 5px #777};/* offset-x|offset-y|blur-radius|color*/
    section div.panel{
        float: left;
        position:relative;
        width: 258px;
        margin: 0 0.5em 2.0em 0.5em;
        padding: 1.0em;
        background-color: #fff;
        border: #ccc solid 1px;
        border-radius:0.6em;
    }
    section div.panel img.productType{
        width:75%
    }

/*Footer*/
footer{
    background-color:rgb(51, 51, 51);
    height:25px;
    font-size:1.2em;
    color:#fff;
    text-align: center;
    padding:1.5em 2.0em
}
footer ul#menuFooter{
    display:inline-block;
    list-style:none;
    margin: 0 0 0 0.6em;
    padding: 0;
}
footer ul li{
    display:inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;
}
footer ul li::before{
    content:"|";
    padding-right: 0.7em;
}
footer a, footer a:visited{
    color: #fff;
    text-decoration: none;
}
footer a:hover{
    color:#fff;
    text-decoration: underline;
}
